<div class="card mb-4 shadow-sm order-product">
  <div class="order-product__image"><img src="{{'data:image/jpg;base64,' + cartProduct.productImage}}"></div>
  <div class="order-product__name">
    <p class="order-product__name__tittle">Product</p><br>
    <p class="order-product__name__value">{{cartProduct.productName}} {{cartProduct.productDescription}}</p>
  </div>
  <div class="order-product__amount">
    <p class="order-product__amount__tittle">Amount</p><br>
    <p class="order-product__amount__value">{{cartProduct.amount}}</p>
  </div>
</div>
