.order-product{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}
.order-product__image img{
  display: block;
  height: 120px;
  border-radius: 5px;
  margin: 0 auto;
}
.order-product__amount__tittle,
.order-product__name__tittle{
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}
.order-product__amount__value,
.order-product__name__value{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

