<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p class="logo">ProductShop</p>
      <small class="d-block mb-3 text-muted">© 2020-2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Contact Information:</h5>
      <ul class="list-unstyled text-small">
        <li><p class="contacts">Working hours: 7a.m-1a.m</p></li>
        <li><p class="contacts">Contact us: +78182424285</p></li>
        <li><p class="contacts">Email: lyah.artem10@mail.ru</p></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Visit us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="footer-href" href="#">Instagram</a></li>
        <li><a class="footer-href" href="#">Github</a></li>
        <li><a class="footer-href" href="#">Twitter</a></li>
        <li><a class="footer-href" href="#">VK</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Navigation</h5>
      <ul class="list-unstyled text-small">
        <li><a class=" footer-href" routerLink="/logIn">LogIn</a></li>
        <li><a class=" footer-href" routerLink="/stock">Stock</a></li>
      </ul>
    </div>
  </div>
</footer>

