.log-in__form{
  margin: 0 auto;
}
.log-in__form__header{
  font-weight: normal;
  text-align:center;
  color:#939393;
  margin-bottom: 20px;
  font-size: 45px;
}
.log-in__form__input_warning{
  margin-bottom: 10px;
  color: #c01934;
}
.log-in__form__input{
  text-align: center;
}
.log-in__form__input input{
  border: solid #939393 3px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
}
.log-in__form__warning{
  margin-top: 10px;
  text-align: center;
  color: #c01934;
}
.log-in__form__input_submit{
  font-weight: normal;
  color: rgb(255, 255, 255);
  background-color: #939393;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 25px;
  width: 120px;
  cursor: pointer;
  margin-top: 10px;
  height: 60px;
  border-radius: 5px;
  outline: none;
}
.log-in__form__input_submit:hover{
  background-color: #c01934;
}
