.stock-panel{
  margin: 0 auto;
}
.stock-panel__warning{
  margin-top: 10px;
  text-align: center;
  color: #c01934;
}
.stock-panel__table{
  border-radius: 5px;
  border: #939393 solid 3px;
  width: 100%;
  margin: 0 auto 20px;
}
.stock-panel__table__tittles{
  display: flex;
  flex-direction: row;
}
.stock-panel__table__tittles__product-name,
.stock-panel__table__tittles__product-amount,
.stock-panel__table__tittles__product-price{
  width: 33%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #c01934;
}
.stock-panel__table__tittles__product-amount,
.stock-panel__table__tittles__product-price{
  border-left: #939393 solid 3px;
}
.stock-panel__save-changes{
  margin: 30px auto 0;
  font-size: 20px;
  display: block;
}
