.orders__list{
  padding: 10px;
  max-height: 1000px;
  overflow: auto;
}
.orders__products,
.orders__products_empty{
  padding: 10px;
}
.orders__products_empty{
  font-size: 35px;
  color:  #939393;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 14px;
}
.orders__list_close,
.orders__products_close{
  display: none;
}
